@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../imagens/background.png);
  background-size: cover; /* Cobrir tudo com a mesma imagem */
  background-position: center; 
}
body::before {
  content: '';
  position: fixed;
  /* Permite utilizar o 'top' e o 'left' */ 
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1; /* Joga o fundo para trás */
  backdrop-filter: blur(8px); /* Criar um desfoque no elemento */
}

main {
  display: flex; /* Centralizar Pai e Filho */ 
  justify-content: center; /* Alinhar horizontalmente */
  align-items: center; /* Alinhar verticalmente */
  min-height: 100vh; /* Ocupar toda a janela em 'View port Height' */
}

.detalhes h2 {
  font-family: "Poppins", sans-serif;
}

.pokedevs {
  display: flex;
  gap: 30px; 
  padding: 30px 0px;
}

.cartao-pokedev {
  display: none; /* Esconder */
  max-width: 360px; /* Largura fixa */
  border-radius: 5px; 
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}
.cartao-pokedev.aberto {
  display: block; /* Mostrar */
}
.cartao-pokedev img {
  width: 100%; /* Restringir para não estourar */
  height: 100%; /* Restringir para não estourar */
  margin-top: 10px;
}
.cartao-pokedev .cartao-topo {
  padding: 30px 40px 0px;
}
.cartao-pokedev .nome {
  margin-bottom: 5px;
}
.cartao-pokedev .tipo {
  background-color: #ffffff;
  font-size: 12px;
  opacity: 0.7;
  border-radius: 10px;
  padding: 2px 10px;
}
.cartao-pokedev .detalhes {
  color: #ffffff;
  display: flex; /* Joga um elemento para cada lado */
  /* flex-direction: row; Padrão do display: flex;*/
  justify-content: space-between; /* Posiciona na direita */
  align-items: center;
}
.cartao-pokedev .cartao-informacoes {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 80px 30px 50px;
  margin-top: -90px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.cartao-pokedev .cartao-informacoes h3 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #6b727a; /* Cria uma linha */
}
.cartao-pokedev .cartao-informacoes .descricao {
  padding: 0px 10px;
  font-size: 15px;
  max-height: 150px; /* Altura máxima */
  overflow-y: scroll; /* Colocar o scroll */
}

.tipo-eletrico {
  background-color: #fcc719;
}
.tipo-fogo {
  background-color: #f15000d2;
}
.tipo-agua {
  background-color: #015c98;
}
.tipo-grama {
  background-color: #49D0B0;
}
.tipo-trevas {
  background-color: #BA68C8;
}
.tipo-fada {
  background-color: #C29791;
}

p {
  text-indent: 30px;
}

nav {
  text-align: right;
}

.listagem {
  max-width: 200px;
}
.listagem .pokedev img {
  width: 25%;
}
.listagem .pokedev { 
  background-color: #6b727a;
  color: white;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0px 5px;
  margin-bottom: 10px;
  cursor: pointer;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  min-height: 70px;
  transition-duration: 0.15 ease-in-out;
}
.listagem .pokedev:hover {
  background-color: #fa6668c7;
  transform:scale(1.05);
}
.listagem .pokedev span {
  padding-right: 20px;
}
.listagem .pokedev.ativo {
  background-color: #fa6668c7;
}